.progress-bar {
	position: relative;
	width: 300px;
	height: 20px;
	background-color: var(--bg);
	border: 1px solid var(--shadow);
	padding: 2px;
	border-radius: 4px;
	overflow: hidden;
	justify-content: flex-start;
}

.progress {
	height: 14px;
	border-radius: 2px;
	background-color: var(--color);
}
