.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
}

.modal.active {
	opacity: 1;
	z-index: 100;
}

.modal-overlay {
	position: absolute;
	width: 10000%;
	height: 10000%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 101;
}

.modal-container {
	position: absolute;
	/* margin: 32px; */
	padding: 16px;
	z-index: 102;
	background-color: var(--bg);
	border: 2px solid var(--color);
	box-shadow: 0 0 15px var(--shadow);
	border-radius: 8px;
	text-align: center;
	flex-direction: column;
	min-width: 300px;
	max-width: 600px;
	overflow: hidden;
	transform: translateY(50px);
	transition: transform 500ms;
}

.active .modal-container {
	transform: translateY(0);
}

.modal-container header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 16px;
}

.modal-container main {
	font-size: 18px;
	flex-direction: column;
}

.modal-container footer {
	margin-top: 16px;
}

.modal button:first-of-type {
	margin-left: 0;
}

.modal button:last-of-type {
	margin-right: 0;
}
