:root {
	--bg: #03182b;
	--color: #8be9ff;
	--shadow: #4f838f;
	--vw: 1vw;
	--vh: 1vh;
}

body,
body * {
	text-shadow: 0 0 3px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: "Comic Sans MS", Times, serif;
}

html,
body {
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	width: calc(var(--vw, 1vw) * 100);
	min-width: calc(var(--vw, 1vw) * 100);
	max-width: calc(var(--vw, 1vw) * 100);
	height: calc(var(--vh, 1vh) * 100);
	min-height: calc(var(--vh, 1vh) * 100);
	max-height: calc(var(--vh, 1vh) * 100);
	margin: 0;
	padding: 0;
	overscroll-behavior-y: none;
}

body {
	align-items: flex-end;
	color: #ccc;
	font-size: 24px;
	background: var(--bg);
	position: fixed;
	inset: 0;
}

small {
	width: 100%;
	display: block;
	line-height: 1;
	font-size: 0.75rem;
	text-align: right;
}

h1,
h2 {
	margin: 0;
	font-size: 32px;
	width: 100%;
	color: #fff;
}

h2 {
	font-size: 24px;
}

a {
	text-decoration: underline;
	color: var(--color);
	font-weight: bold;
	cursor: pointer;
}

hr {
	width: 100%;
	border-color: #333;
	margin: 16px 0;
}

p {
	margin-bottom: 8px;
	width: 100%;
	line-height: 1.2;
}

b {
	color: #fff;
	margin-bottom: 8px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

svg {
	filter: drop-shadow(0 0 5px #000);
}
